body {
	background-color: white;
	background-image: url("image.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	opacity: 0.1;
}

#password_div {
	opacity: 0.9;
	width: 100%;
	height: 400px;
}

#pass_text {
	clear: both;
	text-align: center;
	margin: auto;
	opacity: 0.9;
}

#input_pass {
	clear: both;
	margin: auto;
	opacity: 1;
}

#BTN_check_pass {
	margin: auto;
	opacity: 1;
	width: 70px;
	height: 20px;
	border-radius: 3px;
}