body {
	padding: 0;
	margin: 0;
	color: #09223A;
	overflow: hidden;
}

#foto {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url("image.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	opacity: 0.5;
}

#background {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url("image_anime.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	opacity: 0.3;
}

.titles {
	font-size: 23px;
	padding-top: 15px;
	padding-bottom: 20px;
}

span {
	clear: both;
	font-size: 20px;
	display: block;
}

#password_div {
	position: relative;
	opacity: 0.9;
	width: 100%;
	height: 100%;
	padding-top: 15px;
}

#pass_text {
	clear: both;
	font-size: 30px;
	color: #212F3D;
	padding-left: 70px;
	text-align: center;
	margin: auto;
	/*opacity: 0.9;*/
}

#input_and_btn {
	clear: both;
}

#input_pass {
	width: 350px;
	height: 30px;margin-top: 25px;
	font-size: 20px;
	color: #566573;
	padding: 2px 5px;
	border-radius: 3px;
	margin-left: calc(50% - 175px - 60px);
	margin-right: 5px;
}

#input_pass:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

#BTN_check_pass {
	text-align: center;
	line-height: 15px;
	margin: auto;
	opacity: 1;
	width: 120px;
	height: 33px;
	font-size: 21px;
	border-radius: 5px;
	background-color: #EAECEE;
	color: ##2C3E50;
	cursor:pointer;
}